# GENERAL
PORT=3000
BASE_URL=/api/v1
HOST=http://localhost
DB_PATH=data.enc

# LOG
LOG_FOLDER=logs
ERROR_LOG_FILE=error.log
REQUEST_LOG_FILE=request.log

# CRYPTO
SECRET_KEY=
SECRET_IV=
ENCRYPTION_METHOD=

# MOMO
MOMO_URL=

# VIETQR
VIETQR_URL=

# PAYOS
PAYOS_URL=

# VNPAY
VNPAY_URL=https://sandbox.vnpayment.vn
VNPAY_VERSION=2.1.0

# ZALOPAY
ZALOPAY_URL=https://sb-openapi.zalopay.vn/v2